#field {
	position: absolute;
	transform-style: preserve-3d;
	top: 50%;
	transform: translateY(-50%);
}

#field_table {
	border-collapse: collapse;
}

.field-table-corner-element {
	width: 48px;
	height: 48px;
	background-color: brown;
	border: solid 1px black;
}

.field-table-letter-element {
	width: 78px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 25px;
	background-color: brown;
	border: solid 1px black;
}

.field-table-number-element {
	width: 48px;
	height: 78px;
	line-height: 78px;
	text-align: center;
	font-size: 25px;
	background-color: brown;
	border: solid 1px black;
}

.field-table-figure-element {
	width: 80px;
	height: 80px;
}

.field-side {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center top;
	width: 738px;
	height: 38px;
	background-color: brown;
	border: solid 1px black;
}

#field_side_0 { transform: rotateX(270deg) translate3d(-50%, 0, 370px) rotateY(0deg); }
#field_side_1 { transform: rotateX(270deg) rotateY(90deg); }
#field_side_2 { transform: rotateX(270deg) translate3d(-50%, 0, -370px) rotateY(180deg); }
#field_side_3 { transform: rotateX(270deg) translate3d(-100%, 0, 0) rotateY(270deg); }
#field_side_4 {
	top: 0;
	left: 0;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	transform: rotateY(180deg) translateZ(40px);
}