* {
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
}

body {
	position: absolute;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #ddd;
	perspective: 2000px;
}

#background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: move;
	pointer-events: none;
	z-index: 2;
}

#field {
	position: relative;
	margin: calc(50vh - 370px) auto;
	width: 740px;
	height: 740px;
	transform-style: preserve-3d;
	z-index: 1;
}

.flat {
	position: absolute;
	background-color: #711;
	border: solid 1px black;
	transform-origin: center;
	backface-visibility: hidden;
}





#field_front {
	width: 100%;
	height: 100%;
	transform: translateZ(25px);
	transform-style: preserve-3d;
	background: none;
}

#field_front > * {
	float: left;
}

.corner {
	width: 40px;
	height: 40px;
	border: solid 1px black;
	background-color: #882525;
}

.letter {
	width: 80px;
	height: 40px;
	border: solid 1px black;
	background-color: #882525;
	display: flex;
  	align-items: center;
  	justify-content: center
}

.number {
	width: 40px;
	height: 80px;
	border: solid 1px black;
	background-color: #882525;
	display: flex;
  	align-items: center;
  	justify-content: center
}

.number > p, .letter > p {
	font-size: 20px;
	user-select: none;
}

.cell {
	width: 80px;
	height: 80px;
	border: solid 1px black;
	transform: translateZ(-20px);
	transition: all 0.1s ease-in-out;
}

.black { background-color: #000; }
.black:before { background-color: #000;}
.black:after { background-color: #000; border: solid 1px #fff; }
.white { background-color: #fff; }
.white:before { background-color: #fff;}
.white:after { background-color: #fff; border: solid 1px 000; }





#field_back {
	width: 100%;
	height: 100%;
	transform: rotateY(180deg) translateZ(25px);
}
#field_up {
	width: 100%;
	height: 50px;
	transform: rotateX(90deg) translateZ(25px);
}
#field_down {
	width: 100%;
	height: 50px;
	transform: rotateX(-90deg) translateZ(715px);
}
#field_left {
	width: 50px;
	height: 100%;
	transform: rotateY(90deg) translateZ(-25px);
}
#field_right {
	width: 50px;
	height: 100%;
	transform: rotateY(-90deg) translateZ(-715px);
}


#field_up_inside {
	width: calc(100% * 8 / 9);
	height: 25px;
	transform: rotateX(90deg) translateZ(-30px) translateX(40px) translateY(13px);
	background-color: #511;
}
#field_down_inside {
	width: calc(100% * 8 / 9);
	height: 25px;
	transform: rotateX(-90deg) translateZ(685px) translateX(40px) translateY(-13px);
	background-color: #511;
}
#field_left_inside {
	width: 25px;
	height: calc(100% * 8 / 9);
	transform: rotateY(90deg) translateZ(30px) translateX(-13px) translateY(40px);
	background-color: #511
}
#field_right_inside {
	width: 25px;
	height: calc(100% * 8 / 9);
	transform: rotateY(-90deg) translateZ(-685px) translateX(13px) translateY(40px);
	background-color: #511;
}





#cursor_modes {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 5px;
}

input[type=radio] {
  	visibility: hidden;
  	position: absolute;
}

label {
	width: 30px;
	height: 30px;
	margin: 5px;
 	border: 1px solid grey;
	border-radius: 50%;
	background-color: #fff;
	display: inline-block;
	cursor: pointer;
}

input[type=radio] + label:before {
	content: "";
  	display: inline-block;
  	height: 0px;
  	width: 0px;
 	margin: 15px;
 	border-radius:50%;
 	background-color: blue;
 	transition: all 0.2s ease-in-out;
}

input[type=radio] + label:hover:before {
	height: 14px;
  	width: 14px;
 	margin: 8px;
}

input[type=radio]:checked + label:before {
	height: 24px;
  	width: 24px;
 	margin: 3px;
}




.figure {
	position: absolute;
	display: inline-block;
	transform-style: preserve-3d;
	transform: translateZ(5px);
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.figure:before, .figure:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	transform: translate3d(-29px, -22px, 0);
}

.figure:after { transform: translate3d(-29px, -22px, 27px); }

.figure-segment {
	position: absolute;
	display: inline-block;
	height: 25px;
	background-color: grey;
	border: solid 1px black;
	backface-visibility: hidden;
}